@font-face
{
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.otf');
    src: url('../fonts/NexaLight.ttf') format('truetype');

    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: 'NexaBold';
    src: url('../fonts/NexaBold.otf');
    src: url('../fonts/NexaBold.ttf') format('truetype');

    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: 'Quirlycues';
    src: url('../fonts/Quirlycues.ttf') format('truetype');

    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: 'TelegrafRegular';
    src: url('../fonts/TelegrafRegular.otf');

    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: 'TelegrafUltraLight';
    src: url('../fonts/TelegrafUltraLight.otf');

    font-style: normal;
    font-weight: normal;
}